@model IEnumerable<AuctionViewModel>

<table class="table table-striped">
	<thead>
	<tr>
		<th class="w-25"></th>
		<th><label>Auction Id</label></th>
		<th><label>Model Year</label></th>
		<th><label>Model</label></th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var auction in Model)
	{
		<tr>
			<td><img class="img-fluid" src="@auction.ImageUrl" style="width:60%"/></td>
			<td><label>@auction.Id</label></td>
			<td><label>@auction.ModelYear</label></td>
			<td><label>@auction.Make @auction.Model</label></td>
			<td>
				<a asp-area="Admin" asp-controller="Auction" asp-action="PendingAuctionDetails"
				   asp-route-id="@auction.Id" class="btn btn-success">Details</a>
				<a asp-area="" asp-controller="Auction" asp-action="Edit" asp-route-id="@auction.Id"
					class="btn btn-warning">Edit</a>
			</td>
		</tr>
	}
	</tbody>
</table>