@model IEnumerable<AuctionViewModel>

<table class="table table-striped">
	<thead>
	<tr>
		<th class="w-25"><label>Image</label></th>
		<th><label>Model Year</label></th>
		<th><label>Model</label></th>
		<th><label>Mileage</label></th>
		<th></th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var auction in Model)
	{
		<tr>
			<td><img class="img-fluid" src="@auction.ImageUrl" style="width:60%"/></td>
			<td><label>@auction.ModelYear</label></td>
			<td><label>@auction.Make @auction.Model</label></td>
			<td><label>@auction.EndDate</label></td>
			<td>
				<label>Time remaining: <span id="timer-@auction.Id" class="timer"></span></label>
			</td>
			<td><a asp-controller="Auction" asp-action="Details" asp-route-id="@auction.Id" class="d-inline btn btn-success">Details</a></td>
		</tr>
	}
	</tbody>
</table>
