@model IEnumerable<AuctionViewModel>

<table class="table table-striped">
	<thead>
	<tr>
		<th class="w-25"></th>
		<th><label>Model Year</label></th>
		<th><label>Model</label></th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var auction in Model)
	{
		<tr>
			<td><img class="img-fluid" src="@auction.ImageUrl" style="width:60%"/></td>
			<td><label>@auction.ModelYear</label></td>
			<td><label>@auction.Make @auction.Model</label></td>
			<td>
				<label>
					<a asp-area="" asp-controller="Auction" asp-action="Edit" asp-route-id="@auction.Id"
					   class="btn btn-warning">Edit</a>
					<form method="post" asp-area="" asp-controller="Auction" asp-action="Delete">
						<input type="hidden" name="Id" value="@auction.Id" />
						<button class="mt-1 btn btn-danger" type="submit">Delete</button>
					</form>
				</label>
			</td>
		</tr>
	}
	</tbody>
</table>