@model UserProfileModel
@{
	ViewBag.Title = Model.Username + "'s profile";
}

<h2 class="text-center">@ViewBag.Title</h2>

<div class="container" style="display:inline">
	<div class="row">
		<p style="font-size:25px">Auctions:</p>
		@if (!Model.Auctions.Any())
		{
			@if (Model.UserId == User.Id())
			{
				<p>You have not created any auctions.</p>
			}
			else
			{
				<p>This user has not created any auctions.</p>
			}
		}
		else
		{
			<partial name="_AuctionCardPartial" model="@Model.Auctions"/>
		}
	</div>
	<div class="row">
		<div class="card col border-0">
			<p style="font-size:25px">Bid History:</p>
			@if (!Model.Bids.Any())
			{
				@if (Model.UserId == User.Id())
				{
					<p>You have not placed any bids.</p>
				}
				else
				{
					<p>This user has not placed any bids.</p>
				}
			}
			else
			{
				@foreach (var bid in Model.Bids)
				{
					<p>
						@bid.BidTime - @bid.BidAmount.ToString("C") -
						<a asp-controller="Auction"asp-action="Details" 
						   asp-route-id="@bid.AuctionId" asp-route-extraInfo="@bid.GetExtraInfo()">
							@bid.Make @bid.Model
						</a>
					</p>
				}
			}
		</div>
	</div>
</div>

