@model PendingAuctionDetailsModel

@{
	ViewBag.Title = "Pending Auction Details";
}

<div class="container" style="display:inline">
	<div class="row">
		<div class="card col border-0">
			<p style="font-size:25px;">
				<span>@Model.ModelYear @Model.Make @Model.Model</span>
			</p>
			<p> Auction duration: <b>@Model.AuctionDuration days</b></p>
			<hr/>
			<p>Mileage: <b>@Model.Mileage km</b></p>
			<p>VIN: <b>@Model.Vin</b></p>
			<p>Engine Information: <b>@Model.EngineDetails</b></p>
			<p>Drivetrain: <b>@Model.DrivetrainType</b></p>
			<p>Transmisson: <b>@Model.TransmissionType</b></p>
			<p>Fuel: <b>@Model.FuelType</b></p>
			<p>Car Body Style: <b>@Model.CarBodyType</b></p>
			<p>Interior color: <b>@Model.InteriorColor</b></p>
			<p>Exterior color: <b>@Model.ExteriorColor</b></p>
			<p></p>
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Seller Info</h5>
					<p class="card-text">Username: <a asp-controller="User" asp-action="Profile" asp-route-id="@Model.SellerDetails.Id">@Model.SellerDetails.Username</a></p>
					<p class="card-text">Email: @Model.SellerDetails.Email</p>
					<p class="card-text">Phone Number: @Model.SellerDetails.PhoneNumber</p>
				</div>
			</div>
		</div>
		<div class="col">
			<img class="card-img-top" style="width: 25rem;" src="@Model.ImageUrl" alt="Car Image">
			<p></p>
			<form method="post" asp-area="Admin" asp-controller="Auction" asp-action="Approve">
				<input type="hidden" name="Id" value="@Model.Id" />
				<button class="btn btn-primary" type="submit">Approve</button>
			</form>
			<a asp-area="" asp-controller="Auction" asp-action="Edit" asp-route-id="@Model.Id"
			   class="mt-1 btn btn-warning">Edit</a>
			<form method="post" asp-area="" asp-controller="Auction" asp-action="Delete">
				<input type="hidden" name="Id" value="@Model.Id" />
				<button class="mt-1 btn btn-danger" type="submit">Delete</button>
			</form>
		</div>
	</div>
</div>